@font-face {
    font-family: alexbrush;
    src: url('AlexBrush-Regular.ttf');
}

main {
    font-family: alexbrush, cursive;
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
    font-size: 1.5rem;
}